<h1>Listagem de cursos <a href="/curso/create" class="btn btn-primary">+</a></h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sigla</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each cursos}}
        <tr>
            <td>{{sigla}}</td>
            <td>{{nome}}</td>
            <td class="options">
                <a href="/curso/{{id}}"><i class="fa-solid fa-eye"></i></a>
                <a href="/curso/update/{{id}}" class="fa-solid fa-pen"></a>
                <a href="/curso/remove/{{id}}" class="fa-solid fa-trash-alt" data-bs-toggle="modal" data-bs-target="#modal-curso-{{id}}"></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#each cursos}}

<div class="modal fade" id="modal-curso-{{id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deleção de curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que você deseja apagar o curso {{nome}}? Essa operação não pode ser desfeita </p>
            </div>
            <div class="modal-footer">
                <button id="botao-delecao-{{id}}" type="button" class="btn btn-primary">Sim, quero apagar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

{{/each}}

{{#each cursos}}

<script>  

  const botaodelecao = document.getElementById("botao-delecao-{{id}}");
  botaodelecao.onclick = function () {
    apagarCurso({{ id }});
  }

</script>

{{/each}}