<div class="card text-white bg-dark mb-3 flex">
  <div class="card-header">{{curso.nome}}
    <div>
      <a href="/curso/update/{{curso.id}}" class="fa-solid fa-pen"></a>
      <a class="far fa-trash-alt" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
    </div>
  </div>
  <div class="card-body">
    <div>
      <b>Sigla: </b> {{curso.sigla}}
    </div>
    <div>
      <b>Nome: </b> {{curso.nome}}
    </div>
    <div>
      <b>Descrição: </b> {{curso.descricao}}
    </div>
    <div>
      <b>Área: </b> {{curso.Area.nome}}
    </div>
  </div>
</div>

<div class="modal" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deleção de curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que você deseja apagar o curso {{curso.nome}}? Essa operação não pode ser desfeita </p>
      </div>
      <div class="modal-footer">
        <button id="botao-delecao" type="button" class="btn btn-primary">Sim, quero apagar</button>
        <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script>  

  const id = {{curso.id}};
  const csrf = '{{csrf}}';
  const botaodelecao = document.getElementById("botao-delecao");
  botaodelecao.onclick = function () {
    apagarCurso(id,csrf);
  }

</script>